
modules = ["python-3.12", "postgresql-16"]
run = "uvicorn app.main:app --host 0.0.0.0 --port 3000"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "uvicorn app.main:app --host 0.0.0.0 --port 3000"]

[[ports]]
localPort = 3000
externalPort = 80
